---
const { title } = Astro.props;

//style import
import "../styles/global.css";

//component imports
import { AstroFont } from "astro-font";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Roboto Mono",
                    // Google Fonts URL
                    googleFontsURL:
                        "https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap",
                    preload: true,
                    display: "swap",
                    selector: "body",
                    fallback: "sans-serif",
                },
            ]}
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
